# Autoriser l'accès à tous les fichiers
Require all granted
Options -Indexes
DirectoryIndex frontController.php

RewriteEngine On

# Ne pas rediriger les fichiers statiques (CSS, JS, images, polices, etc.)
RewriteCond %{REQUEST_URI} ^/assets/ [NC]
RewriteRule .* - [L]

# Rediriger toutes les autres requêtes vers frontController.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ frontController.php [QSA,L]